html,
body {
    background-color: #222222;
    color: #e7e7ff;
    margin: 0;
    padding: 0;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

canvas {

    height: 100%;
    margin: 0;
    display: block;
}